
#titre {
	@include absolute-center;
	margin-left: 22em;
	font-family: 'Source Sans Pro', sans-serif;

}

#title1 {
	font-size: 25px;
	margin-bottom:0;
	line-height: 25px;
}

#title2{
	font-size: 52px;
	font-weight: 900;
	line-height: 50px;
	text-transform: uppercase;
}

#title3 {
	// font-family: 'Open Sans', sans-serif;
	font-size:25px;
	text-align: right;
	line-height:5px;
}


// MODIFICATION 4/07
.programmation .columns_artiste_date {
	padding-bottom: 25px;
}

// SEMAINE DU 24/07
.logocontact {
	width:50px;
	height:50px;
	@include vertical-center;
}

// 19/07
// Mise en page "contact"
.contact.content.row {
	max-width: 75rem;
}


// MODIFICATION 24/07
// Mise en page de la page contact
.medium-8 .columns h1 {
	text-align:center;
}

// Formulaire
.container {
	margin-top:1em;
	// background: #EA6E52;
}

// Réajustement logos côté titre avec alignement
div.medium-2.columns img.logocontact.facebook {
	margin-left: 50px;
}

.wpcf7 {
	background-color: #77B77f/*#b6deb6*/;
	border: solid #77B77f/*#b6deb6*/ 1px;
	height: 500px;
	box-shadow:1px 1px 3px #999;
}

.wpcf7-form {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
}

.wpcf7-submit {
	padding:6px 0 6px 0;
	font: /*bold*/ 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}

textarea[rows] {
	height:100px;
	resize:none;
}

.wpcf7-text, textarea {
	// background-color: #b6deb6;
	border: transparent;
}

.wpcf7-text:focus, textarea:focus {

	color: #555;
	font-size: 15px;
	border: transparent;
	box-shadow:1px 1px 3px #999;
}

.titre-formulaire {
	text-align:center;
	padding:0.5rem 1rem;
	color:#fff;
	border-radius:2px;
	border:1px solid #fff;
	display:inline-block;
	margin-left: 6rem;
}

.grand-titre {
	// padding:0.5rem 1rem;
	color:#EA6E52;
	// border-radius:2px;
	// border:3px solid #EA6E52;
	display:inline-block;
	border-bottom: 3px solid #EA6E52;
	margin-bottom: 1rem;
}

div.introduction {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	color: #ea6e52;
	font-size: 20px;
}
